#output {
  display: none;
}

.mntWin {
  display: none;
}

.beachWin {
  display: none;
}

.cityWin {
  display: none;
}

.southWin {
  display: none;
}

.float-right {
  float: right;
  width: 300px;
}

.smaller-border{
    margin: 10px;
    border: 5px solid #FFF200;
    padding: 5px;
}
